header {

    background-color: blue;

}


#name {
    width: 350px;
    height: auto;
    text-align: center;
    color: white;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
 }


li {
    display: inline;
}

ul {
    float: right;
}


.contentcontainer{
    margin: 20px 0 0 0;
    padding: 0 20px 10px 20px;
    border: 1px solid #dddddd;
    width: 960px;
    float: left;
}

.contentheader{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: strong;
}

hr{
    border: 1px solid #dddddd;
}

body {
    width: 960px;
    margin-left: 10%;
    margin-right: 10%;
}






p {
    color: #777777;
    text-align: left;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
}

#profilephoto{
        float: left;
        padding: 0 10px 0 0;
}