
body {
    width: 960px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}


#logo {
   padding: 20px;
   color: white;
   background-color: #4aaaa5;
   box-sizing: content-box;
   text-align: center;
   width: 300px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}


p {
    color: #777777;
    text-align: left;
    line-height: 2;
}

#profilephoto{
        float: left;
        padding: 0 10px 0 0;
}

.contentheader{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: strong;
    padding: 20px;
}