header {
    background-color: #ffffff;
    height: 80px;
    text-align: center;
}

.headercontainer{
    width: 960px;
    margin: auto;
}

#name {
    width: 350px;
    height: 80px;
    color: white;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
 }


 #contact {
    line-height: 80px;
    height: 80px;
    margin: 0 0 0 50px;
    font-size: 18px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
 }


 #portfolio {
    line-height: 80px;
    height: 80px;
    margin: 0 50px 0 50px;
    font-size: 18px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
 }


 #about {
    line-height: 80px;
    height: 80px;
    margin: 0 50px 0 50px;
    font-size: 18px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
 }


.contentcontainer{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 10px 20px;
    border: 1px solid #dddddd;
    width: 919px;
    background-color: #ffffff;
    
}

.contentheader{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: strong;
}

hr{
    border: 1px solid #dddddd;
}


p {
    color: #777777;
    text-align: left;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
}

#profilephoto{
    float: left;
    padding: 0 10px 0 0;
}


.footertopborder{
    height: 500px;
    background-color: #4aaaa5;
}


.footer{
    border-top: 5px solid #4aaaa5;
    height: 20px;
    padding-top: 45px;
    margin-top: 75px;
    font-size: 10px;
    background-color: #666666;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
}